# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = scrape7.settings

[deploy:remote]
url = http://150.158.47.35:6800/
project = scrape7

[deploy:my]
url = http://127.0.0.1:6800/
project = scrape7
